*
!.gitignore
!.config/

!.config/hypr
!.config/hypr/**

!.config/ags/ownStuff
!.config/ags/ownStuff/**
!.config/ags/config.js
!.config/ags/style.css
!.config/ags/theme.css

!.config/spicetify/
!.config/spicetify/CustomApps
!.config/spicetify/CustomApps/**
!.config/spicetify/Extensions
!.config/spicetify/Extensions/**
!.config/spicetify/Themes
!.config/spicetify/Themes/**

!.config/vesktop
!.config/vesktop/themes
!.config.vesktop/themes/**
!.config/vesktop/settings.json
!.config/vesktop/settings
!.config/vesktop/settings/**

!.vscode-oss
!.vscode-oss/extensions
!.vscode-oss/extensions/extensions.json
!.vscode-oss/argv.json