*
!.gitignore
!.config/

!README.md
!.dotfiles
!.dotfiles/**

!Pictures
!Pictures/Wallpapers
!Pictures/Wallpapers/**

!.setup
!.setup/**

!.config/waybar
!.config/waybar/**

!.config/hypr
!.config/hypr/**

!.config/ags
!.config/ags/Widgets
!.config/ags/Widgets/**
!.config/ags/config.js
!.config/ags/style.css
!.config/ags/theme.css
!.config/ags/assets/
!.config/ags/assets/**

!.config/spicetify/
!.config/spicetify/CustomApps
!.config/spicetify/CustomApps/**
!.config/spicetify/Extensions
!.config/spicetify/Extensions/**
!.config/spicetify/Themes
!.config/spicetify/Themes/**

!.config/vesktop
!.config/vesktop/themes
!.config.vesktop/themes/**
!.config/vesktop/settings.json
!.config/vesktop/settings
!.config/vesktop/settings/**

!.config/nvim
!.config/nvim/init.vim
!.config/nvim/coc-settings.json

!.vscode-oss
!.vscode-oss/extensions
!.vscode-oss/extensions/extensions.json
!.vscode-oss/argv.json

!.firefox-theming
!.firefox-theming/**
