.audio-device-picker {
  background-color: black;
}

/* .device-dropdown GtkComboBox { */
/* color: white; */
/* background-color: red; */
/* } */

/* Remove arrow */
.device-dropdown combobox window.popup {
  all: unset;
  color: red;
  background-color: red;
}

.test {
  min-height: 200px;
  background-color: rgb(255, 0, 0);
}

combobox {
  all: unset;
  background-color: #570b0b;
  border-radius: 4px;
  border: 1px solid #ccc;
  /* padding: 5px; */
}

box.linked {
  background-color: #9b00a0;
}

.device-dropdown button.combo {
  all: unset;
  background-color: #bbff00;
  border-radius: 4px;
  /* padding: 5px; */
  color: yellow;
}

box {
  /* padding: 5px; */
}

/* This is the text inside button and popup */
cellview {
  color: #3700ff;
  font-weight: bold;
}

arrow {
  color: #00c3ff;
  /* all: unset; */
}

window.popup {
  all: unset;
  background-color: #640000;
  border: 1px solid #ccc;
  border-radius: 4px;
}
